<!DOCTYPE html>
<html lang="en">
<head>
  <title>ChoreoMap: Edit Choreographies</title>
  <link rel="stylesheet" href="all.css">
  <link rel="icon" href="https://image.freepik.com/free-icon/musical-notes-symbols_318-29778.jpg">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../all.js"></script>
  <style>
  </style>
</head>
<body>
  <h1>— Edit —</h1>
  <h3>You are logged in as... <span id="username"><%=username%></span></h3>
  <a href="/view"><div class="clickable"><div class="vertAlignDiv"><b>View choreographies</b></div></div></a>
  <a href="/"><div class="clickable"><div class="vertAlignDiv"><b>Back to homepage</b></div></div></a>
  <a href="/logout"><div class="clickable"><div class="vertAlignDiv"><b>Log out</b></div></div></a>
  <%if(status){%>
    <br><div class="errorDiv">
      Error: <%if(status=='permission'){%>You do not have permission to edit this choreography.
      <%}else{%>
        We couldn't find the choreo "<%=status.substring(4)%>"
      <%}%>
    </div><br>
  <%}%>
  <div id="choreoMenu">
    <div class="divInsert">
      Search: <input type="text" id="searchTerm" placeholder="Choreo name">&nbsp;
      <button onclick="searchChoreo()" id="searchButton">Go</button>
    </div>
    <div id="choreoList">
      <%if(data.length>0){%>
        <h3>Your choreographies</h3>
        <%for(var i=0; i<data.length; i++){%>
          <div class='listEntry'>
            <div class='inlineDiv'>
              <a href="/edit?id=<%=data[i].choreoName%>"><div class="choreoObject divInsert"><%=data[i].choreoName%></div></a>
            </div>
            <div class='inlineDiv duplicateLink'>
              <a class="plainlink" href="/duplicate?id=<%=data[i].choreoName%>">Duplicate</a>
            </div>
          </div>
        <%}%>
      <%}else{%>
        <h3>Nothing to see here (yet)</h3>
      <%}%>
    </div>
    <a class="plainlink" href="/edit/create">Create a new choreography!</a>
  </div>
</body>

</html>
